.str{color:#00cc00;}
.kwd{color:#f9bb00;}
.com{color:#428bdd;}
.typ{color:#b53b3c;}
.lit{color:#eddd3d;}
.pun{color:#8aa6c1;}
.pln{color:#ffffff}
.tag{color:#8aa6c1;}
.atn{color:#8aa6c1;}
.atv{color:#00cc00;}
.dec{color:#b53b3c;}

/* pre.prettyprint{padding:2px;border:1px solid #888} */

@media print{
  .str{color:#060}
  .kwd{color:#006;font-weight:bold}
  .com{color:#600;font-style:italic}
  .typ{color:#404;font-weight:bold}
  .lit{color:#044}
  .pun{color:#440}
  .pln{color:#000}
  .tag{color:#006;font-weight:bold}
  .atn{color:#404}
  .atv{color:#060}
}

#content pre {
  background-color: #213449;
  background-image: url(long/img/code-box-top-left.gif);
  background-position: top left;
  background-repeat: no-repeat;
  color: white;
  display: block;
  width: 100%;
}

#content pre code.prettyprint {
  background-image: url(long/img/code-box-bottom-right.gif);
  background-position: bottom right;
  background-repeat: no-repeat;
  display: block;
  overflow: auto;
  font-family: monospace; /*, "Lucida Console", Monaco, monospace; */
  font-size: 100%;
  line-height: 135%;
  padding: 10px 0px 10px 5px;
  margin-left: -5px;
}

