.dropdown {
  position: fixed;
  top: 0;
  right: 50px;
  width: 450px;
  text-align: left;
}

.dropdown button {
  font-size: 1.3em;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  background-color: #eef;
}

.nav {
  background: white;
  padding: 12px;
  border: 1px solid #999;
  margin-top: 5px;
  margin-right: 10px;
}

.nav ul {
  font-size: 14px;
  list-style: none;
  margin-left: 0;
}

.nav ul a {
  font-size: 14px;
}

.nav li {
  padding-left: 20px;
  background: url(icon/bullet.png) no-repeat left 4px;
  color: #666;
}

.nav li.method {
  padding-left: 20px;
  background: url(icon/method.png) no-repeat left 2px;
}

.nav li.singleton {
  padding-left: 20px;
  background: url(icon/singleton.png) no-repeat left 2px;
}

.nav li.module {
  padding-left: 20px;
  background: url(icon/module.png) no-repeat left 2px;
}

.nav li.class {
  padding-left: 20px;
  background: url(icon/class.png) no-repeat left 2px;
}

.nav li.file {
  padding-left: 20px;
  background: url(icon/file.png) no-repeat left 2px;
}

