/*
 * FACETS STYLESHEET
 * Thomas Sawyer, 2007
 *
 */


/* GENERAL */

* {
  margin          : 0;
  padding         : 0;
  border          : none;
}

body {
  margin          : 0;
  padding         : 0;
  color           : black;
  text-align      : center; /* for IE */
  /*background       : url(img/RubyFacetsShadow2.png) bottom no-repeat white;*/
  background      : white;
  font-size       : 11pt;
}

p {
  font-size       : 1em;
  color           : #333333;
  text-align      : justify;
  margin          : 10px 10px 15px 0px;
  line-height     : 1.5em;
}

a {
  font-weight     : bold;
  text-decoration : underline;
  color           : #FF0066;
}

pre {
  background      : #FFFFFF;
  font-size       : 0.8em;
  padding-top     : 10px;
}

blockquote {
  margin          : 5px 0px 0px 5px;
  font-style      : italic;
  font-weight     : bold;
  font-size       : 0.8em;
  color           : #111111;
}

p a {
  font-weight     : normal;
}

td {
  vertical-align: top;
}

li { color: black; font: 16pt sans-serif; }

h3 { font-weight: normal; }

td { padding: 5px; }

#sidebar {
  float            : right;
  height           : 1000px;
}

#whole {
  text-align: center;
  padding-bottom: 30px;
}

/* HEADER */

#head {
  width            : 100%;
  height           : 160px;
  color            : black;
  text-align       : center;
  font-weight      : bold;
  font-size        : 4em;
  letter-spacing   : -1px;
  background       : url(img/fade_red_up.png) bottom repeat-x white;
  border-bottom    : 1px solid #553333;
}

#logo { z-index: 2; }

/* MENU BAR */

#menu {
  background       : white;
  color            : gray;
  padding          : 10px 0 5px 0; 
  font-size        : 12px;
  z-index          : 0;
  text-align       : center;
  /*border-bottom    : 2px solid #553333;*/
  /*border-top       : 2px solid #773333;*/
}

#menu a {
  font-weight      : bold;
  font-size        : 12px;
  font-family      : sans-serif, monospace;
  color            : #FF0066;
  text-decoration  : none;
}

#menu a:hover {
  text-decoration  : underline;
}

/*
#drop_shadow {
  height           : 32px;
  background       : url(img/RubyFacetsShadow.png) top repeat-x white;
  margin-bottom    : -22px;
}
*/

/* Content */

#content {
  width       : 100%;
  margin      : 0 auto;
  text-align  : left;             /* counter the body center */
  padding     : 0;
  background   : url(img/RubyFacetsShadowFade.png) top center repeat-x white;
}

.page {
  width       : 800px;
  margin      : 0 auto;
  padding     : 10px 30px;
}

.sell {
  margin           : 15px auto;
  text-align       : center;
  background       : #FFFFFF;
  padding          : 10px 10px 10px 10px;
  font-size        : 1.5em;
  font-family      : sans-serif, serif;
  color            : #222222;
  -moz-border-radius-topleft     : 1em; border-topleft-radius     : 1em;
  -moz-border-radius-topright    : 1em; border-topright-radius    : 1em;
  -moz-border-radius-bottomleft  : 1em; border-bottomleft-radius  : 1em;
  -moz-border-radius-bottomright : 1em; border-bottomright-radius : 1em;
}
.sm{
  font-size        : 1.2em;
  font-family      : sans-serif, serif;
  color            : #222222;
}

#copyright {
  border-top    : 1px solid black;
  color:          #333333;
  text-align:     center;
  font-size:      0.6em;
  padding:        30px 0;
  font-family   : sans-serif;
  background    : pink;
}

/* CLASSES */

.r { color: pink; }
.g { color: yellow; }
.b { color: skyblue; }

.red { color: #ff0044; }


.spotlight {
  padding-bottom : 10px;
  padding-top    : 5px;
  margin         : 5px;
  /*
    background: #FFFFEE;
    border: 1px solid gray;
    -moz-border-radius-topleft: 1em; border-topleft-radius: 1em;
    -moz-border-radius-topright: 1em; border-topright-radius: 1em;
    -moz-border-radius-bottomleft: 1em; border-bottomleft-radius: 1em;
    -moz-border-radius-bottomright: 1em; border-bottomright-radius: 1em;
  */
}

.blurb {
  text-align   : center;
  padding-top  : 80px;
  font-size    : 2.7em;
  font-weight  : bold;
  color        : black;
  background   : url(img/RubyFacetsShadow.png) top center no-repeat transparent;
  /* border-bottom: 2px solid gray; */
}

.desc {
  font-size: .5em;
  padding: 15px;
  width: 70%;
  margin: 0 auto;
}

div.section {
  margin: 10px;
  padding-bottom: 10px;
}

div.section h1 {
  margin: 20px 0 15px 0;
  color: #FF0077;
}

/*
.spotlights a {
  color: #4444AA;
  text-decoration: none;
  font: normal 1.5em monospace;
}

.spotlights a:hover {
  text-decoration: underline;
}
*/

.spy {
  padding-top      : 20px;
  padding-bottom   : 10px;
  font-size        : 2em;
  font-weight      : bold;
  color            : #222222;
  text-align       : left;
}

/* .spy img { width: 30px; } */

.spot { font-weight: bold; color: #FF0077; text-align: left; }

.emblem {
  margin      : 0 auto;
  border      : 1px solid black;
  margin-top  : 20px;
  background  : gray;
  font-size   : 0.9em;
  width       : 125px;
  height      : 20px;
  line-height : 20px;
}

.heading {
  font: 48pt helvetica; color: #dd00aa;
  width: 620px;
  margin: 0 auto;
  margin-bottom: 0px;
  text-align: center;
}

.item {
  margin-bottom: 10px;
}


/* MISCELLANEOUS */

#apidocs td a {
  text-decoration: none;
  padding-right: 5px;

}

